body {
    background: #eee;
}
#app {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    color: #262626;
    background: #468DC3;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
}
h3 {
    text-transform: capitalize;
}
#title {
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffffff;
}